node_modules/
dist/
.env
.env.local
*.pyc
__pycache__/
.aws-sam/
.vite/
.DS_Store
backend/node_modules/
backend/venv

frontend/node_modules/
frontend/playwright-report/
frontend/test-results/
frontend/tests